%p bff test.
%p who is your best friend?
%p take the test.
%p spin the wheel.
%p what is your favorite color?
%p what is your bff's favorite color?
%p what is your favorite animal?
%p what is your bff's favorite animal?
%p what city were you born in?
%p what city was your bff born in?
%p what is your favorite food?
%p what is your bff's favorite food?
%p spin the wheel.
%P enter your name.
%P enter your bff's name.
