/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-size: 16px;
}

.header {
  background-color: darkblue;
  position: relative;
}

.header .star {
  position: absolute;
}

.header .logo {
  position: relative;
  padding: 20px 90px;
  font-size: 7.7em;
  font-weight: 600;
  display: inline-block;
}

.header .tagline {
  top: -25px;
  left: 50px;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  color: white;
}
